.container {
  display: flex;
  flex-direction: column;
  width: 840px;
}

.board {
  border: 1px solid #333;
  height: 240px;
  padding: 20px;
  width: 240px;
}

.cell {
  align-items: center;
  border: 1px solid #222;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
  web-kit-user-select: none;
  moz-user-select: none;
  ms-user-select: none;
}

.super-row {
  display: flex;
  height: 280px;
  width: 840px;
}

.row {
  display: flex;
  height: 80px;
  width: 240px;
}

.inactive {
  opacity: .25;
  transition: opacity .25s ease-in;
}

.wonx::after {
  content:'X';
  font-size:250px;
}

.active {
  border-color: #000;
}

