.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 840px;
  font-family: sans-serif;
  font-size: 25px;
}

.board {
  border: 4px solid #CCC;
  height: 240px;
  padding: 20px;
  width: 240px;
  position: relative;
}

.board:first-of-type {
  border-top: 0px;
  border-left: 0px;
}

.board:nth-of-type(2) {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.board:last-of-type {
  border-top: 0px;
  border-right: 0px;
}

.super-row:last-of-type > .board {
  border-bottom: 0px;
}

.cell {
  -webkit-align-items: center;
  align-items: center;
  border: 2px solid #222;
  display: -webkit-flex;
  display: flex;
  height: 80px;
  -webkit-justify-content: center;
  justify-content: center;
  width: 80px;
  web-kit-user-select: none;
  moz-user-select: none;
  ms-user-select: none;
}

.cell:first-of-type {
  border-top: 0px;
  border-left: 0px;
}

.cell:nth-of-type(2) {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.cell:last-of-type {
  border-top: 0px;
  border-right: 0px;
}

.row:last-of-type > .cell {
  border-bottom: 0px;
}

.super-row {
  display: flex;
  display: -webkit-flex;
  height: 280px;
  width: 840px;
}

.row {
  display: flex;
  display: -webkit-flex;
  height: 80px;
  width: 240px;
}

.inactive {
  opacity: .25;
  transition: opacity .25s ease-in;
}

.wonx::after {
  bottom: 0;
  content:'X';
  display: block;
  font-size: 180px;
  left: 0;
  line-height: 280px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: center;
}

.wono::after {
  bottom: 0;
  content:'O';
  display: block;
  font-size: 180px;
  left: 0;
  line-height: 280px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: center;
}

.active {
  border-color: #000;
}

